<div class="home">
    <div class="homebody">
        <div class="pageheading">
            <div class="pageheadingflex">
                <h2>Contact Me.</h2>
                <i class='bx bx-envelope'></i>
            </div>
        </div>
        <div class="body">
            <div style="display: flex;justify-content: center;">
                <div class="row" style=" margin-bottom: 50px;margin-top: 20px;">
                    <div class="subheading">
                        <h3> Let's Talk</h3>
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="form" style="display: flex;flex-wrap: wrap;">
                    <div class="input">
                        <input type="text" placeholder="name" id="">
                    </div>
                    <div class="input">
                        <input type="text" placeholder="Email" id="">
                    </div>
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="textereae">
                    <textarea placeholder="HOW CAN WE HELP YOU ?" style="height: 150px;"></textarea>
                </div>

            </div>
            <div style="text-align: center;">
                <button> Send Message </button>
            </div>
            <div class="row" style="margin-top: 20px;margin-bottom: 35px;">
                <div class="box4">
                    <img src="../../assets/image/paper-plane.png" alt="">
                    <h5>kanzarihoussem59@gmail.com</h5>
                </div>
                <div class="box4">
                    <img src="../../assets/image/location.png" alt="">
                    <h5>Tunis,Manouba</h5>
                </div>
                <div class="box4">
                    <img src="../../assets/image/telephone.png" alt="">
                    <h5>(+216)85021718</h5>
                </div>
            </div>
            <div class="map2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3195.144599666855!2d10.1191389!3d36.7910833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzbCsDQ3JzI3LjkiTiAxMMKwMDcnMDguOSJF!5e0!3m2!1sfr!2stn!4v1708211125227!5m2!1sfr!2stn" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        </div>
    </div>
</div>