
<div class="home">
  <div class="homebody">
    <div class="pageheading">
      <div class="pageheadingflex">
        <h2>About Me.</h2>
        <i class='bx bx-user'></i>
      </div>


    </div>
    <div class="body">
      <div class="row">
        <div class="text" style="padding-left: 0;margin-right: 26px;">
          <h3>UI/UX Designer & Developer</h3>
          <p>Je suis Kanzari Houssem, titulaire d'une licence en sciences informatiques, et en voie de devenir ingénieur
            en informatique. Passionné par le développement, j'ai créé plusieurs projets basés sur Angular et Spring
            Boot, ce qui m'a permis de maîtriser ces technologies clés. Afin de renforcer mes compétences, j'ai suivi
            des formations supplémentaires en Angular et Spring Boot, me spécialisant dans la création d'applications
            web performantes et intuitives. Mon objectif est de continuer à innover en tant que développeur et à
            contribuer à des projets ambitieux.</p>
          <div class="image" style="margin-top: 30px;">
            <img src="../../assets/image/signature-white.png" alt="">
          </div>
        </div>
        <div class="morinf">
          <h3>Personal Information</h3>
          <ul>
            <li>
              <span class="title">Name</span>
              <span class="value">Kanzari Houssem</span>
            </li>
            <li>
              <span class="title">Age</span>
              <span class="value">23 Years</span>
            </li>
            <li>
              <span class="title">Residence</span>
              <span class="value">Tunis</span>
            </li>
            <li>
              <span class="title">Address</span>
              <span class="value">Tunis</span>
            </li>
            <li>
              <span class="title">Email</span>
              <span class="value" style="font-size: 12px;">kanzarihoussem59@gmail.com</span>
            </li>
            <li>
              <span class="title">Phone</span>
              <span class="value">(+216) 58021718</span>
            </li>
            <li>
              <span class="title">Freelance</span>
              <span class="value">Available</span>
            </li>
          </ul>
        </div>
      </div>
      <div style="display: flex;justify-content: center;">
        <div class="row" style="   
    margin-bottom: 50px;margin-top: 20px;">
          <div class="subheading">
            <h3> Services</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="boxe">
          <img src="../../assets/image/computer-science.png" alt=""
            style="margin-bottom: 10px;width: 60px;height: 55px;">
          <h4>Web Development</h4>
          <p>Our web development service delivers custom, responsive websites that blend modern design with top-notch
            functionality to boost your online presence.</p>
        </div>
        <div class="boxe">
          <img src="../../assets/image/creation-de-sites-web.png" alt=""
            style="margin-bottom: 10px;width: 60px;height: 55px;">
          <h4>Web Design</h4>
          <p>Our web design service crafts visually appealing, user-centered designs that enhance brand identity and
            provide an engaging experience across all devices.</p>
        </div>
        <div class="boxe">
          <img src="../../assets/image/responsive-page.png" alt=""
            style="margin-bottom: 10px;width: 60px;height: 55px;">
          <h4>Responsive Design</h4>
          <p>Our responsive design service ensures your website looks and functions flawlessly on any device, providing
            users with a seamless experience whether on desktop, tablet, or mobile.</p>
        </div>
      </div>
    </div>
  </div>
</div>