
<div class="home">
    <div class="homebody">
        <div class="pageheading">
            <div class="pageheadingflex">
                <h2>My Resume.</h2>
                <i class='bx bx-id-card'></i>
            </div>
        </div>
        <div class="body">
            <div class="row">
                <div class="box3">
                   <div>
                    <div style="display: flex;justify-content: center;">
                        <div class="row" style="   
                    margin-bottom: 50px;margin-top: 20px;">
                          <div class="subheading">
                            <h3> Experience</h3>
                          </div>
                        </div>
                      </div>
                    <ul class="experience">
                        <li style="margin-top: 0;">
                            <span class="line-left"></span>
                            <div class="content">
                                <h4>Web Developer</h4>
                                <h5>BeeCoders,tunis</h5>
                                <p class="info">En tant que Web Developer, j'ai conçu une plateforme simple et attrayante pour une société de vente de voitures, visant à améliorer l'expérience des clients en ligne.</p>
                            </div>
                            <span class="year">
                                 <span class="to">2023</span>
                                 <span class="from">2022</span>
                            </span>
                        </li>
                    </ul>
                   </div>
                   <div>
              
                    <ul class="experience">
                        <li>
                            <span class="line-left"></span>
                            <div class="content">
                                <h4>Web Developer</h4>
                                <h5>BeeCoders,tunis</h5>
                                <p class="info">En tant que web developer, j'ai créé une application web avec des interfaces utilisateur et administrateur, permettant une gestion efficace et une expérience utilisateur optimale.</p>
                            </div>
                            <span class="year">
                                 <span class="to">2024</span>
                                 <span class="from">2023</span>
                            </span>
                        </li>
                    </ul>
                   </div>
                   <div>
              
                    <ul class="experience">
                        <li>
                            <span class="line-left"></span>
                            <div class="content">
                                <h4>Freelance</h4>
                                <h5>Freelance</h5>
                                <p class="info">J'ai créé une application web de gestion de stock, conçue pour suivre et contrôler les médicaments. Elle permet une gestion efficace des quantités et assure un suivi précis des stocks disponibles.</p>
                            </div>
                            <span class="year">
                                 <span class="to">2024</span>
                                 <span class="from">2023</span>
                            </span>
                        </li>
                    </ul>
                   </div>
                </div>
                <div class="box3">
                    <div style="display: flex;justify-content: center;">
                        <div class="row" style="   
                    margin-bottom: 50px;margin-top: 20px;">
                          <div class="subheading">
                            <h3> Education</h3>
                          </div>
                        </div>
                      </div>
                    <ul class="experience">
                        <li style="margin-top: 0;">
                            <span class="line-left"></span>
                            <div class="content">
                                <h4>Licence en sciences informatiques</h4>
                                <h5> Institut Supérieur d'Informatique et de Gestion de Kairouan,tunis</h5>
                                <p class="info">J'ai obtenu une licence en sciences informatiques à l'Institut Supérieur d'Informatique et de Gestion de Kairouan, acquérant des compétences en développement logiciel, gestion de bases de données et résolution de problèmes.</p>
                            </div>
                            <span class="year">
                                 <span class="to">2024</span>
                                 <span class="from">2022</span>
                            </span>
                        </li>
                    </ul>
                   </div>
                   <div>
              
            </div>
        </div>
    </div>
</div>